/* .vitepress/theme/my-fonts.css */
/* @font-face {
    font-family: 'MyFontBase';
    src: url('/fonts/TsukuARdGothicStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'MyFontMono';
    src: url('/fonts/JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --vp-font-family-base: "Hiragino Sans GB",sans-serif;
    --vp-font-family-mono: 'MyFontMono', monospace;
}